.info{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    .line{
      width: 32px;
      height: 1px;
      background-color:#F59E0B ;  
    
    }
    .titleText{
        font-size: 14px;
        font-weight:500;
        line-height: 17.5px;
        color: #F59E0B;
        
    }
    .homeText{
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        color:#1B1C57 ;
        text-align: center;
        margin-top: -8px;
        margin-bottom: 40PX;
    }
    .greenBtn{
        padding: 12px 16px;
        gap: 16px;
        background-color: #10B981;
        border-radius: 32px;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        color: #FFFFFf;
        border: none;
        margin-bottom: 42px;
        cursor: pointer;
    }
}