.navbarHeader{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    margin-top: 40px;
    z-index: 999;
    position: relative;
    .logo{
        padding-left: 30px;
       
    }
    .heroLinks{
        display: flex;
        align-items: center;
        gap: 24px;
        margin-right: 120px;
        .linkBtn{
            padding: 8px 16px;
            border-radius: 32px;
            text-align: center;
            gap: 10px;
            font-size: 14px;
            font-weight: 600;
            line-height: 17.5px;
            background-color:#7bbee088;
            color: #ffffff;
            border: 1px solid #ffffff47;
            text-decoration: none;
        }
        .signBtn{
            padding: 12px 24px;
            border-radius: 32px;
            background-color: #D1FAE5;
            border: none;
            font-size: 14px;
            font-weight: 600;
            color: #047857;
            cursor: pointer;
        }
    }
}