.footer{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    margin:  120px;
    .bio{
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 320px;
        height: 180px;
        .bioText{
            font-size: 14px;
            font-weight: 400;
            color: #626687;
            line-height: 24px;
        }
    }
    .property{
        .main{
            font-size: 18px;
            font-weight: 600;
            line-height: 22.5px;
            color: #0E1735;
            margin-bottom: 24px;
          
        }
        .text{
            font-size: 14px;
            font-weight: 400;
            line-height: 17.5px;
            color: #888B97;
            cursor: pointer;
        }

    }
    .article{
        .main{
            font-size: 18px;
            font-weight: 600;
            line-height: 22.5px;
            color: #0E1735;
            margin-bottom: 24px;
        }
        .text{
            font-size: 14px;
            font-weight: 400;
            line-height: 17.5px;
            color: #888B97;
            cursor: pointer;
        }

    }
    .contact{
        .main{
            font-size: 18px;
            font-weight: 600;
            line-height: 22.5px;
            color: #0E1735;
            margin-bottom: 24px;
        }
        .text{
            font-size: 14px;
            font-weight: 400;
            line-height: 17.5px;
            color: #888B97;
            cursor: pointer;
        }

    }
}