.houseWrapper{
    margin-top: 220px;
    margin-left: 50px;
   display: flex;
   align-items: end;
    .fHouse{
        display: flex;
        flex-direction: column;
        .line{
            width: 32px;
            height: 1px;
            background-color: #F59E0B;
        }
    .featuredText{
        display: flex;
        align-items: center;
        gap: 8px;
        .recText{
            font-size: 14px;
            font-weight: 500;
            line-height: 17.5px;
            color: #F59E0B;
        }
    }  
    .featuredT{
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        color:#1B1C57;
        margin-left: 38px;
        
    } 
    }
    .houses{
        display: flex;
        align-items: center;
        .link{
            display: flex;
            align-items: center;
        }
    }
}