.houseWrapper{
    margin-top: 220px;
    margin-left: 50px;
   display: flex;
   align-items: end;
    .fHouse{
        display: flex;
        flex-direction: column;
        .line{
            width: 32px;
            height: 1px;
            background-color: #F59E0B;
        }
    .featuredText{
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: -20px;
        .recText{
            font-size: 14px;
            font-weight: 500;
            line-height: 17.5px;
            color: #F59E0B;
        }
    }  
    .featuredT{
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        color:#1B1C57;
        margin-left: 38px;
        
    } 
    }
    .houses{
        display: flex;
        align-items: center;
        gap: 15px;
        margin-left: 140px;
        .link{
            display: flex;
            align-items: center;
            width: 120px;
            height: 52px;
            padding: 5px 24px;
            gap: 8px;
            border-radius: 32px;
            background-color: #D1FAE5;
            cursor: pointer;
            margin-bottom: 10px;
            
            .catText{
                font-size: 18px;
                font-weight: 500;
                line-height: 28px;
                color: #10B981;
                text-decoration: none;
            }
        }
    }
}